name: library_booking
description: "A new Flutter project."
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  supabase_flutter: ^1.2.0
  flutter_dotenv: ^6.0.0
  provider: ^6.0.5
  intl: ^0.18.1
  cupertino_icons: ^1.0.8
  file_picker: ^6.0.1  # for picking images in web & mobile

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
